body{
    background-color: rgb(214, 222, 231);
}
.caixa{
    display: flex;
    gap: 25px;
    margin-top: 130px;
    justify-content: center;
}
.roxocinza{
    display: flex;
    gap: 25px;

}
.brancopreto{
    margin-top: 25px;
    display: flex;
    gap: 25px;
}
.roxo{
    border-radius: 25px;
    height: 350px;
    width: 830px;
    background-color: blueviolet;

}
.cinza{
    border-radius: 25px;
    height: 350px;
    width: 305px;
    background-color: gray;
}
.branco2{
    border-radius: 25px;
    height: 350px;
    width: 305px;
    background-color: white;
}

.branco{
    border-radius: 25px;
    height: 725px;
    width: 300px;
    background-color: white;
}
.preto{
    border-radius: 25px;
    height: 350px;
    width: 830px;
    background-color: black;

}
/*Foto perfil Roxo */
.pairoxo{
    align-items: center;
    height: 100px;
    display: flex;
}
.aspas img{
    width: 100px;
    margin-left: 440px;
}
.fotoroxo{
    margin-left: 20px;
    margin-top: 20px;
}
.fotoroxo img{
    width: 50px;
    border-radius: 50%;
}
.nomeroxo{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
}
.nomeroxo h1{
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
}
.nomeroxo h2{
    color: #ac9b9b;
    margin-top: 0px;
    font-size: 15px;
}
.flex{
    display: flex;
}
.textoroxo{
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.textoroxo p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
#segundotexto{
    font-size: 15px;
    color: #ac9b9b;
    }